@model DataAshishPandey.Models.Movie

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Movie</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="LocationID" class="control-label col-md-2">LocationID</label>
            <div class="col-md-10">
                <select asp-for="LocationID" class="form-control" />
                <span asp-validation-for="LocationID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MovieName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MovieName" class="form-control" />
                <span asp-validation-for="MovieName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="contact" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="contact" class="form-control" />
                <span asp-validation-for="contact" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="emailID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="emailID" class="form-control" />
                <span asp-validation-for="emailID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="numberOfTheaters" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="numberOfTheaters" class="form-control" />
                <span asp-validation-for="numberOfTheaters" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
